Lweb/Lweb/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfID_Table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ID_Table" nillable="true" type="tns:ID_Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfID_Table" nillable="true" type="tns:ArrayOfID_Table" />
  <xs:complexType name="ID_Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ID_Table" nillable="true" type="tns:ID_Table" />
</xs:schema>